*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
.container{
    border: 0.3rem solid black; 
    display: flex;
   
}
.box{
    width: 10rem; 
    flex-basis: 10rem;
}
.box1{
    background-color: blueviolet;
    order: 1;
}
.box2{
    background-color: aqua;
}
.box3{
    background-color: yellow;
    order: 5;
}
.box4{
    background-color: chartreuse;
}
.box5{
    background-color: blue;
}
.box6{
    background-color: brown;
}

