:root{
    --white: #fff;
}

/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&family=Roboto:wght@100&display=swap'); */

/* No es necesario aprender las lineas de flexbox */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.5rem;
}
.container{
    border: 0.3rem solid black;
    height: 50vh;
    display: flex;
    
}
.box{
    /* width: 10rem; */
    flex-basis: 10rem;
    flex-grow: 1;
    height: 10rem;
}
.box1{
    background-color: aquamarine;
}
.box2{
    background-color: blueviolet;
}
.box3{
    background-color: var(--white);
}
.box4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
}
.box4 > p{
    color: white;
}
.box5{
    background-color: yellow;
}
.box6{
    background-color: blue;
}





@media (min-width:480px)) {
    
}
@media (min-width:780px)) {
    
}
@media (min-width:1024px)) {
    
}